.btnAdd {
  margin-left: 10px;
}
.btnAdd:hover {
  background-color: rgb(39, 165, 28);
}
.btnRemove {
  background-color: rgb(156, 70, 70);
}
.btnRemove:hover {
  background-color: #a01919;
}
.editInput {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}
